--- ---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
    <!--ReleaseHeader-->
    <p id="publish-box">Publish Box goes here</p>
    <!--EndReleaseHeader-->
    {% include fragment-base-navtabs.html type='Bundle' id='BundleEx' active='history' %}

    <a name="root"> </a>
    <h2 id="root">{{type}}: Bundle/BundleEx - Change History</h2>
    <p>History of changes for BundleEx {{type | downcase}}.</p>

    {%include Bundle-BundleEx-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %} {% include fragment-pageend.html %}