--- ---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
    <!--ReleaseHeader-->
    <p id="publish-box">Publish Box goes here</p>
    <!--EndReleaseHeader-->
    {% include fragment-base-navtabs.html type='Patient' id='PacienteCl-4' active='history' %}

    <a name="root"> </a>
    <h2 id="root">{{type}}: Patient/PacienteCl-4 - Change History</h2>
    <p>History of changes for PacienteCl-4 {{type | downcase}}.</p>

    {%include Patient-PacienteCl-4-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %} {% include fragment-pageend.html %}